src/cmd/._cmdCharDef.h
src/cmd/._cmdParser.h
*.o
.vscode/launch.json
.vscode/settings.json
.vscode/c_cpp_properties.json
lib/libcmd.a
lib/libroute.a
lib/libutil.a
AlphaMove_Work.code-workspace
bin/cell_move_router
*.out
*.dmd
AlphaMove18.code-workspace
*.tgz
md5checksum
readme
